/* Nav Bar Sarah */



.wrapper {
    width: 100%;
    margin: auto;
    position: relative;
    background-color:  #CDF5FD;
}

/* LOGO */

.logo{
    width: 100%;
    margin: auto;
    position: relative;
    background-color: #1679AB;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #364f6b;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: relative; 
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom:1px solid #364f6b;
}


/* LIST  */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}



h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #756AB6;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background:#AC87C5;
    text-decoration: none;
}

a.tbl-pink {
    background: #fc5185;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #3f72af;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
} 

*{
    
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Poppins';
    text-decoration: none;
    margin: 0px;
    background-color: #CDF5FD;
}





body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #CDF5FD;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.container{
    position: relative;
    width: 70vw;
    height: 80vh;
    /* background-color: white; */
    border-radius: 20px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}


.container::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #AC87C5, #756AB6);
    z-index: 6;
    left: -50%;
    transform: translateX(100%);
    
}


.singin{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

form{
    display: flex;
    align-items:center ;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;

}

.tittle{
    font-size: 35px;
    margin-bottom: 10px;
    color: #df4adf;
    font-weight: 500;
}


.input-field i{
    flex: 1;
    margin-right: 200%;
    text-align: center;
    color: #666;
    font-size: 18px;

}

.input-field input{
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    color: #444;
}

.btn{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #df4adf;
    color: white;
    font-weight: 500;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover{
    background: #c03cc0;

}



.social-text{
    margin: 10px 0;
    font-size: 16px;
}

.social-media{
    display: flex;
    justify-content: center;
}

.social-icon{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    border: 1px solid #444;
    border-radius: 50px;
    margin: 0 5px;
}

a{
    text-decoration: none;
}

.social-icon:hover{
    color: #df4adf;
    border-color: #df4adf;
}

.input-field{
    /* display:flex; */
    margin: 15px 0;
    align-items: center;
}


.nav, 
.container{
    flex-direction: column-reverse;
}